################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/WinFormsApplication/.vs
/WinFormsApplication/bin/Debug/net8.0-windows
/WinFormsApplication/obj
